.slider-action{
    display: flex;
    justify-content: space-between;
}
.images-slide-show{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.images-slide-show .image-container img{
    border-radius: 6px;
}
#shown-img{
    width: 400px;
    height: 300px;
}